html,
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom right, #0b51dd 0%, #001847 100%);
}

.wrapper {
    display: inline-block;
    opacity: .5;
    transition: all .5s;
}

.wrapper:hover, #activeHighlight
{
    transform: scale(1.1);
    opacity: 1;
}

.row {
    display: flex;
    justify-content: space-around;
}

.stars {
    width: 150px;
}

nav {
    margin: 60px;
    margin-bottom: 10px;
}

section#startscreen {
    display: inline-block;
    margin: 20px;
    width: 100%;
}
section {
    display: none;
    margin: 20px;
    width: 200px;
}

footer p {
    margin-top: 50px;
    font-size: 10px;
    opacity: 0.5;
}

.chartWrapper {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 100px;
    background: rgba(255, 255, 255, 0.5);
}

.chartWrapper .chart {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: rgb(75, 150, 75);
}
#chartpositive.chartGrowth{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20%;
    background: rgb(75, 150, 75);
}
#chartnegative.chartGrowth{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 20%;
    background: rgb(185, 40, 40);
}