
/***********Resets*****************/
/*Margin und Padding ALLER Elemente auf 0 setzen*/
*{
    margin:0;
    padding:0;
}
/****************Grundlegende Elemente definieren*******************/
body {
    background-color:rgb(255, 255, 255); 
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(75, 75, 75);
    font-weight: bold; 
}
a {
    font-weight:bolder;
    color:rgb(125, 125, 125);
    text-decoration: none;
}
/*******************Klassen********************/
.maintextleft {
    text-align:left;   
    margin-top: 20px;
    margin-bottom: 20px;
}
/*Klasse für Effekte von normalen Textlinks: visited und hover*/
a:visited {
    color:rgb(50, 50, 50);
}
a:hover{
    text-shadow: 2px 2px 5px rgb(50, 50, 50);
}
/*Klasse für das Navigationsmenü*/
