/*Diese CSS DAtei wird in base_style.css importiert*/
/**********Setup*************/
/*Reset aller paddings and margins*/
*{
    margin:0;
    padding:0;
}
/*Grundlagen des form elements*/
form{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/*Txteingabefeld*/
input[type=text] {
    width: 500px;
    font-size:16px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color:grey;
    color: white;
    outline:none;
  }
  /*Mehrzeiliges TExteingabefeld*/
  textarea{
      width: 460px;
      height: 200px;
      font-size:16px;
      padding: 12px 20px;
      font-family: Arial, Helvetica, sans-serif;
      background-color: grey;
      color: white;
      resize: none;
      text-align: left;
      outline:none;
  }
  /*Button "Send"*/
  input[type=submit] {
    background-color: grey;
    border: none;
    color: white;
    font-weight: bold;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
