/*importiert die CSS Datai für die Formulare in diese CSS Datei*/
@import url("forms.css");
/*Margin und Padding ALLER Elemente auf 0 setzen*/
*{
    margin:0;
    padding:0;
}
/*EIA1-Logo*/
#logo{
    margin-top:50px;
    width: 100px;
}
/*Discord Logo*/
#icon-discord{
    width: 40px;
    margin: 5px;
}
/*Grundlegende Elemente definieren*/
body {
    background-color:rgb(255, 255, 255); 
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(75, 75, 75);
    font-weight: bold; 
}
header {
    height: 400px;
    max-height: 400px;
    background-image: url("../assets/animation/showDusche.png");
    background-position:center;
    background-repeat: none;  
    background-size: cover; 
    background-origin: border-box; 
}
footer {
    background-color:rgb(234, 234, 234);
}
hr.line1{
    border: none;
    border-top: 5px dotted grey;
}
hr.line2{
    border: none;
    border-top: 3px dotted grey;
}
ul{
    list-style-type: none;
}
a {
    font-weight:bolder;
    color:rgb(100, 100, 100);
    text-decoration: none;
}
a:visited {
    color:rgb(75, 75, 75);

}
a:hover{
    text-shadow: 2px 2px 5px rgb(50, 50, 50);
}
h1{
    text-decoration: underline;
} 

/*Klassen*/
.maintextleft {
    text-align:left;   
    margin-top: 5px;
    margin-bottom: 5px;
}
.mainContainer {
    max-width: 800px;
    margin: auto;
    text-align:center;
}
/*Navigationsmenü*/
.topnav ul {
    margin-top: 50px;
  }
.topnav ul li {
    float: left;
  }
.topnav ul li a {
    display: block;
    font-size: 24px;
    padding: 8px;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
.topnav ul li a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
  }
  .topnav ul li a.current-site {
    color:#ffffff;
    text-decoration: underline;
}
/*Raster für Header*/
.grid-header {
    display: grid;
    grid-template-columns: 100px auto 400px;
    grid-template-rows: 100px;
    grid-template-areas: 'logo . navigation';
}
/*Raster Header Feld 1 - Logo*/
.grid-header-item1{
    grid-area: logo;
    justify-content:center;
}
/*Raster Header Feld 3 - Navigation
Feld 2 ist leer und unbenannt*/
.grid-header-item2{
    grid-area: navigation;
}
/*Raster für Footer*/
.grid-footer {
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: 75px;
    grid-template-areas: 'kontakt socialmedia copyright';
    color:rgb(121, 121, 121);
    font-weight: bold;
    font-size:medium;
    padding-top: 50px;
    padding-bottom: 50px;
}
.grid-footer-item1 {
    grid-area: kontakt;
    text-align: left;
}
.grid-footer-item2 {
    grid-area: socialmedia;
    text-align: center;
}
.grid-footer-item3 {
    grid-area: copyright;
    text-align: right;
}