
header {
        min-height: 400px;
        max-height: 400px;
        margin:-20px;
        border:none;
        background-image: url("../assets/animation/showDusche.png");
        background-position:center;
        background-repeat: none;  
        background-size: cover; 
        background-origin: border-box;
     
}
.logo{
    margin-top:50px;
    width: 100px;
}
.icon-discord{
    width: 40px;
    margin: 5px;
}
body {
    background-color:rgb(211, 211, 211);
    margin:none;
    
}
.mainContainer {
    max-width: 800px;
    margin: auto;
    text-align:left;
}
a {
    text-decoration: none;
}
.topnav ul {
    list-style-type: none;
    margin-top: 50px;
  }
.topnav ul li {
    float: left;
  }

.topnav ul li a {
    display: block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 8px;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
.topnav ul li a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
  }
  .topnav ul li a.current-site {
    color:#ffffff;
    text-decoration: underline;
}
footer {
        background-color:rgb(234, 234, 234);
        min-height: 100px;
}
/*Raster für Header*/
.grid-header {
    display: grid;
    grid-template-columns: 100px auto 400px;
    grid-template-rows: 100px;
    grid-template-areas: 'logo . navigation';
}
.grid-header-item1{
    grid-area: logo;
    justify-content:center;

}
.grid-header-item2{
    grid-area: navigation;
}
/*Raster für Footer*/
.grid-footer {
    display: grid;
    grid-template-columns: 200px auto 300px;
    grid-template-rows: 200px;
    grid-template-areas: 'kontakt socialmedia impressum';
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(68, 68, 68);
    font-weight: bold;
    font-size:medium;
}
.grid-footer-item1 {
    grid-area: kontakt;
}
.grid-footer-item2 {
    grid-area: socialmedia;
}
.grid-footer-item3 {
    grid-area: impressum;
}