/*Diese CSS Datei wird in base_style.css importiert*/
/**********Setup*************/
/*Reset aller paddings and margins*/
*{
    margin:0;
    padding:0;
}
/*Grundlagen des form elements*/
.header-fade {
    position: Absolute;
    width: 100%;
    height: 400px;
    max-height: 400px;
  }
  /*Hero images welche faden*/
  .hero-img {
    height: 400px;
    max-height:400px;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    animation: fade 18s infinite;
  }
  /*Basis Hero image das nicht faded*/
  .hero-img-base {
    height: 400px;
    max-height:400px;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index:0;
  }
  /*Animation delays für die 6 hero images*/
  #hero-base {
    animation-delay: 0s;
  }
  #hero-1 {
    animation-delay: 3s;
  }
  #hero-2 {
    animation-delay: 6s;
  }
  #hero-3 {
    animation-delay: 9s;
  }
  #hero-4 {
    animation-delay: 12s;
  }
  #hero-5 {
    animation-delay: 15s;
  }
/*Animation daten für fade*/
  @keyframes fade {
    0% {
      opacity: 1;
    }
    11% {
      opacity: 1;
    }
    17% {
      opacity: 0;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

